# **PYSPARK INTRODUCTION**

In [6]:
## Librerías
import numpy as np
import pandas as pd 
import pyspark

In [19]:
df_pandas = pd.read_csv('data/housing.csv')

df_pandas.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [ ]:
## Crear sesión de Spark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()

## Crear un DataFrame
df = spark.read.csv('data/housing.csv', header=True, sep=',')
df.show(5)

+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|Area Population|      Price|             Address|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|     79545.45857|        5.682861322|              7.009188143|                        4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       Laurabury|     NE 37010-5101"|                     NULL|                        NULL|           NULL|       NULL|                NULL|
|     79248.64245|        6.002899808|              6.730821019|                        3.09|    40173.07217|1505890.915|188 Johnson Views...|
|   Lake Kathleen|          CA 48958"|                     NULL|                        NULL|           NULL|       NULL|                NULL|
|     61287.06718|         5.86588984|               8.51272743|                        5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [87]:
## the second row is just the continuation of the previous row
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df.show(5)

+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|Area Population|      Price|             Address|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|     79545.45857|        5.682861322|              7.009188143|                        4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|     79248.64245|        6.002899808|              6.730821019|                        3.09|    40173.07217|1505890.915|188 Johnson Views...|
|     61287.06718|         5.86588984|               8.51272743|                        5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|     63345.24005|        7.188236095|              5.586728665|                        3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|     59982.19723|        5.040554523|              7.839387785|                        4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [88]:
## rename Avg. Area Income to Avg_Area_Income, Avg. Area House Age to Avg_Area_House_Age, Avg. Area Number of Rooms to Avg_Area_Number_of_Rooms, Avg. Area Number of Bedrooms to Avg_Area_Number_of_Bedrooms, Area Population to Area_Population
df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [89]:
## equivalent to df.info in pandas 
df.printSchema()

root
 |-- Avg_Area_Income: double (nullable = true)
 |-- Avg_Area_House_Age: double (nullable = true)
 |-- Avg_Area_Number_of_Rooms: double (nullable = true)
 |-- Avg_Area_Number_of_Bedrooms: double (nullable = true)
 |-- Area_Population: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Address: string (nullable = true)

In [90]:
## select items from the dataframe just one column (Avg. Area Income)
df.select('Avg_Area_Income').show(5)

+---------------+
|Avg_Area_Income|
+---------------+
|    79545.45857|
|    79248.64245|
|    61287.06718|
|    63345.24005|
|    59982.19723|
+---------------+
only showing top 5 rows

In [91]:
df.select(['Avg_Area_Income','Avg_Area_Number_of_Rooms']).show(5)

+---------------+------------------------+
|Avg_Area_Income|Avg_Area_Number_of_Rooms|
+---------------+------------------------+
|    79545.45857|             7.009188143|
|    79248.64245|             6.730821019|
|    61287.06718|              8.51272743|
|    63345.24005|             5.586728665|
|    59982.19723|             7.839387785|
+---------------+------------------------+
only showing top 5 rows

In [92]:
df.dtypes

[('Avg_Area_Income', 'double'),
 ('Avg_Area_House_Age', 'double'),
 ('Avg_Area_Number_of_Rooms', 'double'),
 ('Avg_Area_Number_of_Bedrooms', 'double'),
 ('Area_Population', 'double'),
 ('Price', 'double'),
 ('Address', 'string')]

In [93]:
df.describe().show()

+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+
|summary|   Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|  Area_Population|             Price|             Address|
+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+
|  count|              5000|              5000|                    5000|                       5000|             5000|              5000|                5000|
|   mean| 68583.10898397019| 5.977222035287008|       6.987791850909204|         3.9813299999999967|36163.51603854035|1232072.6541452995|                NULL|
| stddev|10657.991213888685|0.9914561798324225|      1.0058332312754115|         1.2341372654846832|9925.650113546026| 353117.6265836953|                NULL|
|    min|       17796.63119|       2.644304186|             3.236194023|                        2.0|      172.6106863|       15938.65792|000 Adkins Cresce...|
|    max|       107701.7484|       9.519088066|             10.75958834|                        6.5|      69621.71338|       2469065.594|Unit 9871 Box 903...|
+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+

In [94]:
## Addding columns to the dataframe
# Add a new column called 'Avg_Area_Income_1000' which is the 'Avg_Area_Income' divided by 1000
df = df.withColumn('Avg_Area_Income_1000', df['Avg_Area_Income']/1000)
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|Avg_Area_Income_1000|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|   79.54545857000001|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|         79.24864245|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|         61.28706718|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|         63.34524005|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|         59.98219723|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
only showing top 5 rows

In [96]:
## delete a column from the dataframe
df = df.drop('Avg_Area_Income_1000')
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [104]:
## generate random nan values in the dataframe
import random
from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

## read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")

def random_nan(value):
    if random.random() < 0.1:
        return None
    return value

random_nan_udf = udf(random_nan, FloatType())

df = df.withColumn('Avg_Area_Income', random_nan_udf(df['Avg_Area_Income']))

df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       79545.46|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [105]:
## show rows with nan values
df.filter(df['Avg_Area_Income'].isNull()).show()

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       59927.66|        5.36212557|             6.393120981|                        2.3|      29387.396|798869.5328|USS Gilbert\nFPO ...|
|           NULL|         6.1243421|             6.290820167|                       4.42|    39355.62573|1170720.894|4343 Joshua Lake ...|
|      78699.516|       5.652783637|             6.756453856|                       3.01|    22836.60757|1081150.125|7585 Lynn Loop\nE...|
|       59539.95|       6.018590243|             7.007676166|                       5.43|    58600.82715|1411730.477|122 Russo Neck\nS...|
|      48904.984|       4.844972531|              5.44895603|                       3.38|    32960.75307|201898.0866|2124 Garcia Viadu...|
|      63441.715|       6.471673727|             7.064811136|                       3.22|    48061.75267|1302933.248|Unit 3405 Box 434...|
|      63027.676|       4.855968121|             5.580905937|                        2.3|    35991.72064|608794.2467|246 Michele Lock ...|
|       79737.61|       7.315957927|             6.611096005|                       2.17|    28307.31433|1463130.273|5042 Ricky Road\n...|
|      63890.473|       4.972306568|             7.916386397|                       5.49|    43416.49782| 1252391.18|60860 Griffin Str...|
|       67310.04|       7.193792989|             7.760732555|                       5.28|    43310.61243|1714445.175|89002 Robert Squa...|
|       73064.98|       5.994062799|             7.204368895|                       6.19|    30699.33971|1276448.792|5808 Burton Viadu...|
|      47681.363|       6.890508224|             7.788267986|                       5.13|    50908.97891|1230149.137|PSC 6933, Box 380...|
|       69277.89|       6.142591681|             7.811724471|                       5.15|    43717.91309|1415073.614|256 Sanchez Ports...|
|      52575.816|       7.133719417|             7.173698882|                       4.06|    41828.57962|1237224.859|8803 Jackson Ramp...|
|      59513.836|       4.885131771|              5.57471435|                       3.18|    44162.27921|894292.0474|14157 Jones Parkw...|
|      78379.414|       5.985697151|             5.681833507|                        3.2|    31357.38821|1159841.831|2579 Pamela Shoal...|
|       76268.82|       6.942797867|             6.147907596|                       3.17|    38649.85239| 1494125.33|9109 Omar View Su...|
|      63117.844|       4.940396705|             5.636779395|                       2.31|    43091.84514|774118.1878|2128 Shawna Orcha...|
|       75860.86|        3.69089057|             4.788380207|                       3.48|    41003.88008|889113.2389|019 Moore Center ...|
|      57353.156|        8.07544792|             5.678555483|                       4.44|    16906.42172| 798892.515|88404 William Cap...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 20 rows

In [106]:
## Handling missing values
df.count()

5000

In [107]:
df = df.na.drop()
df.count()

4490

In [108]:
## Filling missing values

# read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")
       
       
def random_nan(value):
    if random.random() < 0.1:
        return None
    return value

random_nan_udf = udf(random_nan, FloatType())

df = df.withColumn('Avg_Area_Income', random_nan_udf(df['Avg_Area_Income']))

df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       79545.46|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows