# **PySpark: Introduction to DataFrames**

## DataFrame creation

In [1]:
## Librerías
import numpy as np
import pandas as pd 
import pyspark

In [2]:
df_pandas = pd.read_csv('data/housing.csv')

df_pandas.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
## Crear sesión de Spark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()

## Crear un DataFrame
df = spark.read.csv('data/housing.csv', header=True, sep=',')
df.show(5)

+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|Area Population|      Price|             Address|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|     79545.45857|        5.682861322|              7.009188143|                        4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       Laurabury|     NE 37010-5101"|                     NULL|                        NULL|           NULL|       NULL|                NULL|
|     79248.64245|        6.002899808|              6.730821019|                        3.09|    40173.07217|1505890.915|188 Johnson Views...|
|   Lake Kathleen|          CA 48958"|                     NULL|                        NULL|           NULL|       NULL|                NULL|
|     61287.06718|         5.86588984|               8.51272743|                        5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [4]:
## the second row is just the continuation of the previous row
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df.show(5)

+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|Avg. Area Income|Avg. Area House Age|Avg. Area Number of Rooms|Avg. Area Number of Bedrooms|Area Population|      Price|             Address|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
|     79545.45857|        5.682861322|              7.009188143|                        4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|     79248.64245|        6.002899808|              6.730821019|                        3.09|    40173.07217|1505890.915|188 Johnson Views...|
|     61287.06718|         5.86588984|               8.51272743|                        5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|     63345.24005|        7.188236095|              5.586728665|                        3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|     59982.19723|        5.040554523|              7.839387785|                        4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+----------------+-------------------+-------------------------+----------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [5]:
## rename Avg. Area Income to Avg_Area_Income, Avg. Area House Age to Avg_Area_House_Age, Avg. Area Number of Rooms to Avg_Area_Number_of_Rooms, Avg. Area Number of Bedrooms to Avg_Area_Number_of_Bedrooms, Area Population to Area_Population
df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [6]:
## equivalent to df.info in pandas 
df.printSchema()

root
 |-- Avg_Area_Income: double (nullable = true)
 |-- Avg_Area_House_Age: double (nullable = true)
 |-- Avg_Area_Number_of_Rooms: double (nullable = true)
 |-- Avg_Area_Number_of_Bedrooms: double (nullable = true)
 |-- Area_Population: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Address: string (nullable = true)

In [7]:
## select items from the dataframe just one column (Avg. Area Income)
df.select('Avg_Area_Income').show(5)

+---------------+
|Avg_Area_Income|
+---------------+
|    79545.45857|
|    79248.64245|
|    61287.06718|
|    63345.24005|
|    59982.19723|
+---------------+
only showing top 5 rows

In [8]:
df.select(['Avg_Area_Income','Avg_Area_Number_of_Rooms']).show(5)

+---------------+------------------------+
|Avg_Area_Income|Avg_Area_Number_of_Rooms|
+---------------+------------------------+
|    79545.45857|             7.009188143|
|    79248.64245|             6.730821019|
|    61287.06718|              8.51272743|
|    63345.24005|             5.586728665|
|    59982.19723|             7.839387785|
+---------------+------------------------+
only showing top 5 rows

In [9]:
df.dtypes

[('Avg_Area_Income', 'double'),
 ('Avg_Area_House_Age', 'double'),
 ('Avg_Area_Number_of_Rooms', 'double'),
 ('Avg_Area_Number_of_Bedrooms', 'double'),
 ('Area_Population', 'double'),
 ('Price', 'double'),
 ('Address', 'string')]

In [10]:
df.describe().show()

+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+
|summary|   Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|  Area_Population|             Price|             Address|
+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+
|  count|              5000|              5000|                    5000|                       5000|             5000|              5000|                5000|
|   mean| 68583.10898397019| 5.977222035287008|       6.987791850909204|         3.9813299999999967|36163.51603854035|1232072.6541452995|                NULL|
| stddev|10657.991213888685|0.9914561798324225|      1.0058332312754115|         1.2341372654846832|9925.650113546026| 353117.6265836953|                NULL|
|    min|       17796.63119|       2.644304186|             3.236194023|                        2.0|      172.6106863|       15938.65792|000 Adkins Cresce...|
|    max|       107701.7484|       9.519088066|             10.75958834|                        6.5|      69621.71338|       2469065.594|Unit 9871 Box 903...|
+-------+------------------+------------------+------------------------+---------------------------+-----------------+------------------+--------------------+

In [11]:
## Addding columns to the dataframe
# Add a new column called 'Avg_Area_Income_1000' which is the 'Avg_Area_Income' divided by 1000
df = df.withColumn('Avg_Area_Income_1000', df['Avg_Area_Income']/1000)
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|Avg_Area_Income_1000|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|   79.54545857000001|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|         79.24864245|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|         61.28706718|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|         63.34524005|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|         59.98219723|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+--------------------+
only showing top 5 rows

In [12]:
## delete a column from the dataframe
df = df.drop('Avg_Area_Income_1000')
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [13]:
## generate random nan values in the dataframe
import random
from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

## read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")

def random_nan(value):
    if random.random() < 0.1:
        return None
    return value

random_nan_udf = udf(random_nan, FloatType())

df = df.withColumn('Avg_Area_Income', random_nan_udf(df['Avg_Area_Income']))

df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       79545.46|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [14]:
## show rows with nan values
df.filter(df['Avg_Area_Income'].isNull()).show()

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|      66394.875|       7.069512154|             7.204639709|                       3.18|    39741.07751| 1499988.88|71956 Jenkins Fal...|
|       74399.84|       6.382452912|             7.252665322|                       6.36|    41084.66282| 1417819.74|03819 Lee Junctio...|
|       75795.58|       5.786780024|             7.327325343|                       6.25|    33197.77774|1534479.907|562 Brown Junctio...|
|       82061.56|       4.182828228|             5.963031884|                        4.1|     36271.4085|1102821.438|708 Pena Ramp\nTe...|
|      67579.234|       5.973219004|             7.754357545|                       6.32|    21762.94969|1170959.526|744 Hill Ports\nM...|
|       67310.04|       7.193792989|             7.760732555|                       5.28|    43310.61243|1714445.175|89002 Robert Squa...|
|       86924.36|       6.832939699|             7.738295553|                       6.32|    28719.41089|1809154.289|922 Mark Lodge\nM...|
|       68898.34|       6.787648529|             7.871352644|                       6.39|    39515.57156|1530124.016|777 Ross Crossroa...|
|      58708.418|       5.083861036|             6.262825884|                       4.07|    15969.92604| 483986.109|33410 Smith Summi...|
|       68343.16|        6.39244379|             8.425112895|                        6.2|    40653.87007|1721739.384|4746 Morgan Forge...|
|       73313.55|       6.414723236|             8.492901229|                       4.46|    37808.99667|1604920.973|08091 Bush Course...|
|       67946.71|       5.403175673|             5.671136343|                       3.21|    35197.94257|1043483.915|68672 Guzman Ridg...|
|       67019.07|       6.487943167|               7.3313301|                       6.26|    24997.10871|1134397.758|378 Evans Crest\n...|
|       56063.48|        5.10693512|             5.385339778|                       4.14|     39129.2967| 734827.508|09897 Katherine F...|
|       56357.19|       5.707903109|             5.240300887|                       3.25|     38061.9983|953939.3299|4160 Martinez Bri...|
|      62784.332|       7.572350215|             4.652717554|                       3.31|    35122.38947|1007478.748|6660 Alex Park\nB...|
|      65967.766|       6.847724976|             7.777279444|                       3.14|    35799.96255|1474546.762|842 Jackson Parkw...|
|      65316.996|       7.414875231|             6.733084867|                        2.0|    55799.49748|1534889.853|32521 Martinez Hi...|
|      56976.547|       6.061212241|             7.259286709|                       3.08|    46375.50249| 1203247.89|46619 Morgan Squa...|
|       78050.97|       5.234044768|             6.290305888|                       4.15|    27789.74852|1075596.587|2606 Stout Inlet\...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 20 rows

In [15]:
## Handling missing values
df.count()

5000

In [16]:
df = df.na.drop()
df.count()

4499

## Filling NaN Values

In [47]:
## Filling missing values

# read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")

## pyspark seed
random.seed(42)

## generate random values over the first, second and third columns
def random_nan(value):
    if random.random() < 0.1:
        return None
    return value

## modify values randomly over the first column
random_nan_udf = udf(random_nan, FloatType())

df = df.withColumn('Avg_Area_Income', random_nan_udf(df['Avg_Area_Income']))
df = df.withColumn('Avg_Area_House_Age', random_nan_udf(df['Avg_Area_House_Age']))
df = df.withColumn('Avg_Area_Number_of_Rooms', random_nan_udf(df['Avg_Area_Number_of_Rooms']))


## show rows with nan values
df.show(20)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       79545.46|         5.6828613|                7.009188|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|         6.0028996|                6.730821|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|           5.86589|                8.512728|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|          7.188236|               5.5867286|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|         5.0405545|                7.839388|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
|       80175.76|         4.9884076|                6.104512|                       4.04|    26748.42842|1068138.074|06039 Jennifer Is...|
|      64698.465|          6.025336|                8.147759|                       3.41|    60828.24909|1502055.817|4759 Daniel Shoal...|
|      78394.336|              NULL|                6.620478|                       2.42|    36516.35897|1573936.564|972 Joyce Viaduct...|
|       59927.66|         5.3621254|                6.393121|                        2.3|      29387.396|798869.5328|USS Gilbert\nFPO ...|
|       81885.93|         4.4236717|                8.167688|                        6.1|    40149.96575|1545154.813|Unit 9446 Box 095...|
|       80527.47|          8.093513|                5.042747|                        4.1|    47224.35984|1707045.722|6368 John Motorwa...|
|      50593.695|          4.496513|               7.4676275|                       4.49|    34343.99189|663732.3969|911 Castillo Park...|
|       39033.81|         7.6717553|                7.250029|                        3.1|    39220.36147|1042814.098|209 Natasha Strea...|
|      73163.664|         6.9195347|                5.993188|                       2.27|    32326.12314|1291331.518|829 Welch Track A...|
|       69391.38|          5.344776|                8.406418|                       4.37|    35521.29403| 1402818.21|PSC 5330, Box 442...|
|       73091.87|         5.4431562|                    NULL|                       4.01|    23929.52405| 1306674.66|2278 Shannon View...|
|       79706.96|         5.0678897|                8.219771|                       3.12|    39717.81358|  1556786.6|064 Hayley Unions...|
|       61929.08|         4.7885504|               5.0970097|                        4.3|     24595.9015|528485.2467|5498 Rachel Locks...|
|      63508.195|          5.947165|                    NULL|                       5.12|    35719.65305|1019425.937|Unit 7424 Box 278...|
|      62085.277|          5.739411|               7.0918083|                       5.49|     44922.1067|1030591.429|19696 Benjamin Ca...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 20 rows

In [48]:
## filling missing values with the mean of the column  
from pyspark.sql.functions import mean
df.na.fill(df.select(mean(df['Avg_Area_Income'])).collect()[0][0], ['Avg_Area_Income']).show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|       79545.46|         5.6828613|                7.009188|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|         6.0028996|                6.730821|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|           5.86589|                8.512728|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|          7.188236|                    NULL|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|              NULL|                7.839388|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [49]:
# read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")

## pyspark seed
random.seed(42)

## generate random values over the first, second and third columns
def random_nan(value):
    if random.random() < 0.1:
        return None
    return value

## modify values randomly over the first column
random_nan_udf = udf(random_nan, FloatType())

df = df.withColumn('Avg_Area_Income', random_nan_udf(df['Avg_Area_Income']))
df = df.withColumn('Avg_Area_House_Age', random_nan_udf(df['Avg_Area_House_Age']))
df = df.withColumn('Avg_Area_Number_of_Rooms', random_nan_udf(df['Avg_Area_Number_of_Rooms']))


## show rows with nan values
df.show(20)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|           NULL|         5.6828613|                7.009188|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|       79248.64|              NULL|                6.730821|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|      61287.066|           5.86589|                8.512728|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|       63345.24|          7.188236|                    NULL|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|      59982.195|         5.0405545|                7.839388|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
|       80175.76|         4.9884076|                    NULL|                       4.04|    26748.42842|1068138.074|06039 Jennifer Is...|
|           NULL|          6.025336|                8.147759|                       3.41|    60828.24909|1502055.817|4759 Daniel Shoal...|
|      78394.336|           6.98978|                6.620478|                       2.42|    36516.35897|1573936.564|972 Joyce Viaduct...|
|       59927.66|              NULL|                6.393121|                        2.3|      29387.396|798869.5328|USS Gilbert\nFPO ...|
|       81885.93|         4.4236717|                8.167688|                        6.1|    40149.96575|1545154.813|Unit 9446 Box 095...|
|       80527.47|          8.093513|                    NULL|                        4.1|    47224.35984|1707045.722|6368 John Motorwa...|
|      50593.695|          4.496513|               7.4676275|                       4.49|    34343.99189|663732.3969|911 Castillo Park...|
|       39033.81|         7.6717553|                7.250029|                        3.1|    39220.36147|1042814.098|209 Natasha Strea...|
|      73163.664|              NULL|                5.993188|                       2.27|    32326.12314|1291331.518|829 Welch Track A...|
|       69391.38|          5.344776|                    NULL|                       4.37|    35521.29403| 1402818.21|PSC 5330, Box 442...|
|       73091.87|         5.4431562|                8.517512|                       4.01|    23929.52405| 1306674.66|2278 Shannon View...|
|       79706.96|         5.0678897|                8.219771|                       3.12|    39717.81358|  1556786.6|064 Hayley Unions...|
|           NULL|         4.7885504|               5.0970097|                        4.3|     24595.9015|528485.2467|5498 Rachel Locks...|
|      63508.195|          5.947165|               7.1877737|                       5.12|    35719.65305|1019425.937|Unit 7424 Box 278...|
|      62085.277|          5.739411|               7.0918083|                       5.49|     44922.1067|1030591.429|19696 Benjamin Ca...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 20 rows

In [50]:
## replace nan values with the mean of the column
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Avg_Area_Income', 'Avg_Area_House_Age'], 
                  outputCols=[".{}_imputed".format(c) for c in ['Avg_Area_Income', 'Avg_Area_House_Age']]).setStrategy("mean")


imputer.fit(df).transform(df).show(20)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+------------------------+---------------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|.Avg_Area_Income_imputed|.Avg_Area_House_Age_imputed|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+------------------------+---------------------------+
|       79545.46|         5.6828613|                7.009188|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|                79545.46|                  5.6828613|
|       79248.64|         6.0028996|                    NULL|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|                79248.64|                  6.0028996|
|      61287.066|           5.86589|                8.512728|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|               61287.066|                    5.86589|
|       63345.24|          7.188236|                    NULL|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|                63345.24|                   7.188236|
|      59982.195|              NULL|                7.839388|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|               59982.195|                  5.9730067|
|       80175.76|         4.9884076|                6.104512|                       4.04|    26748.42842|1068138.074|06039 Jennifer Is...|                80175.76|                  4.9884076|
|      64698.465|              NULL|                8.147759|                       3.41|    60828.24909|1502055.817|4759 Daniel Shoal...|               64698.465|                  5.9730067|
|      78394.336|           6.98978|                6.620478|                       2.42|    36516.35897|1573936.564|972 Joyce Viaduct...|               78394.336|                    6.98978|
|       59927.66|         5.3621254|                6.393121|                        2.3|      29387.396|798869.5328|USS Gilbert\nFPO ...|                59927.66|                  5.3621254|
|       81885.93|         4.4236717|                8.167688|                        6.1|    40149.96575|1545154.813|Unit 9446 Box 095...|                81885.93|                  4.4236717|
|           NULL|          8.093513|                5.042747|                        4.1|    47224.35984|1707045.722|6368 John Motorwa...|                68682.69|                   8.093513|
|           NULL|          4.496513|               7.4676275|                       4.49|    34343.99189|663732.3969|911 Castillo Park...|                68682.69|                   4.496513|
|       39033.81|         7.6717553|                7.250029|                        3.1|    39220.36147|1042814.098|209 Natasha Strea...|                39033.81|                  7.6717553|
|      73163.664|         6.9195347|                5.993188|                       2.27|    32326.12314|1291331.518|829 Welch Track A...|               73163.664|                  6.9195347|
|       69391.38|              NULL|                    NULL|                       4.37|    35521.29403| 1402818.21|PSC 5330, Box 442...|                69391.38|                  5.9730067|
|       73091.87|         5.4431562|                8.517512|                       4.01|    23929.52405| 1306674.66|2278 Shannon View...|                73091.87|                  5.4431562|
|       79706.96|         5.0678897|                8.219771|                       3.12|    39717.81358|  1556786.6|064 Hayley Unions...|                79706.96|                  5.0678897|
|           NULL|              NULL|               5.0970097|                        4.3|     24595.9015|528485.2467|5498 Rachel Locks...|                68682.69|                  5.9730067|
|      63508.195|          5.947165|               7.1877737|                       5.12|    35719.65305|1019425.937|Unit 7424 Box 278...|               63508.195|                   5.947165|
|      62085.277|          5.739411|               7.0918083|                       5.49|     44922.1067|1030591.429|19696 Benjamin Ca...|               62085.277|                   5.739411|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+------------------------+---------------------------+
only showing top 20 rows

## Filter Operation

In [52]:
## read dataset
# read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")
       
## pyspark seed
random.seed(42)

df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [56]:
## filter avg area income greater than 80000
df.filter(df['Avg_Area_Income'] > 80000).show(5)

## filter avg area income greater than 80000
df.filter("Avg_Area_Income > 80000").show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    80175.75416|       4.988407758|             6.104512439|                       4.04|    26748.42842|1068138.074|06039 Jennifer Is...|
|    81885.92718|        4.42367179|             8.167688003|                        6.1|    40149.96575|1545154.813|Unit 9446 Box 095...|
|    80527.47208|       8.093512681|               5.0427468|                        4.1|    47224.35984|1707045.722|6368 John Motorwa...|
|    86294.99909|        6.62745694|             8.011897853|                       4.07|    47560.77534| 2146925.34|030 Larry Park Su...|
|    82173.62608|       4.018524685|             6.992698757|                       2.03|    38853.91807|1125692.507|3599 Ramirez Spri...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    80175.75416|       4.988407758|             6.104512439|                       4.04|    26748.42842|1068138.074|06039 Jennifer Is...|
|    81885.92718|        4.42367179|             8.167688003|                        6.1|    40149.96575|1545154.813|Unit 9446 Box 095...|
|    80527.47208|       8.093512681|               5.0427468|                        4.1|    47224.35984|1707045.722|6368 John Motorwa...|
|    86294.99909|        6.62745694|             8.011897853|                       4.07|    47560.77534| 2146925.34|030 Larry Park Su...|
|    82173.62608|       4.018524685|             6.992698757|                       2.03|    38853.91807|1125692.507|3599 Ramirez Spri...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [57]:
## filter avg area income greater than 80000
df.filter("Avg_Area_Income > 80000").select(['Avg_Area_Income','Area_Population']).show(5)

+---------------+---------------+
|Avg_Area_Income|Area_Population|
+---------------+---------------+
|    80175.75416|    26748.42842|
|    81885.92718|    40149.96575|
|    80527.47208|    47224.35984|
|    86294.99909|    47560.77534|
|    82173.62608|    38853.91807|
+---------------+---------------+
only showing top 5 rows

## Groupby operations

In [58]:
## read again the data
df = spark.read.format("csv").load("data/housing.csv", header=True, sep=',',inferSchema=True, multiLine=True)
df = df = df.withColumnRenamed("Avg. Area Income", "Avg_Area_Income") \
       .withColumnRenamed("Avg. Area House Age", "Avg_Area_House_Age") \
       .withColumnRenamed("Avg. Area Number of Rooms", "Avg_Area_Number_of_Rooms") \
       .withColumnRenamed("Avg. Area Number of Bedrooms", "Avg_Area_Number_of_Bedrooms") \
       .withColumnRenamed("Area Population", "Area_Population")
       
## pyspark seed
random.seed(42)

## show the first 5 rows
df.show(5)

+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|Avg_Area_Income|Avg_Area_House_Age|Avg_Area_Number_of_Rooms|Avg_Area_Number_of_Bedrooms|Area_Population|      Price|             Address|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
|    79545.45857|       5.682861322|             7.009188143|                       4.09|     23086.8005|1059033.558|208 Michael Ferry...|
|    79248.64245|       6.002899808|             6.730821019|                       3.09|    40173.07217|1505890.915|188 Johnson Views...|
|    61287.06718|        5.86588984|              8.51272743|                       5.13|     36882.1594|1058987.988|9127 Elizabeth St...|
|    63345.24005|       7.188236095|             5.586728665|                       3.26|    34310.24283|1260616.807|USS Barnett\nFPO ...|
|    59982.19723|       5.040554523|             7.839387785|                       4.23|    26354.10947|630943.4893|USNS Raymond\nFPO...|
+---------------+------------------+------------------------+---------------------------+---------------+-----------+--------------------+
only showing top 5 rows

In [59]:
## group by avg area number of bedrooms
df.groupBy("Avg_Area_Number_of_Bedrooms").count().show()

+---------------------------+-----+
|Avg_Area_Number_of_Bedrooms|count|
+---------------------------+-----+
|                       3.26|   25|
|                       4.19|   33|
|                        2.4|   19|
|                       5.05|   13|
|                       5.13|   13|
|                       5.48|   10|
|                       2.41|    9|
|                       6.44|    7|
|                       6.17|    7|
|                       3.02|   34|
|                       4.23|   33|
|                        5.4|   13|
|                       6.27|   11|
|                       4.02|   33|
|                       6.43|   18|
|                       3.08|   26|
|                       4.36|   29|
|                        3.5|   32|
|                        6.1|   19|
|                       2.28|   12|
+---------------------------+-----+
only showing top 20 rows

In [60]:
## group by avg area number of bedrooms and sum avg area income
df.groupBy("Avg_Area_Number_of_Bedrooms").sum('Avg_Area_Income').show()

+---------------------------+--------------------+
|Avg_Area_Number_of_Bedrooms|sum(Avg_Area_Income)|
+---------------------------+--------------------+
|                       3.26|  1678189.9352099996|
|                       4.19|  2197466.3429199997|
|                        2.4|  1288603.9395100002|
|                       5.05|        891658.42447|
|                       5.13|   820151.4083499999|
|                       5.48|        705207.80489|
|                       2.41|        634125.52629|
|                       6.44|        466709.38056|
|                       6.17|        521614.37352|
|                       3.02|  2315050.3622700004|
|                       4.23|  2249686.5653600004|
|                        5.4|   859719.3765799999|
|                       6.27|        725897.71919|
|                       4.02|  2206801.2514700005|
|                       6.43|  1219523.4166499998|
|                       3.08|  1776050.5639700003|
|                       4.36|  1959927.0505399997|
|                        3.5|  2234096.8602699996|
|                        6.1|       1417200.63202|
|                       2.28|        865329.43789|
+---------------------------+--------------------+
only showing top 20 rows